/* =======================  COLOR ======================
========================================================*/

$palettes: (
  mono: (
    black: #000,
    dark: #333,
    base: #666,
    light: #888,
    white: #fff,
  ),
  brown: (
    light: #f7f4ef,
    medium: #f7f4ee,
    dark: #aaa392,
  ),
  brand: (
    macaroni: #eba43c,
    orange: #f37930,
    green: #75a832,
    teal: #138f87,
    darker-gray: #466368,
    dark-gray: #5c656a,
    medium-gray: #9baeb2,
    light-gray: #919598,
    dark-blue: #1e3037,
  ),
);

/*
* Better function for color palettes using Sass maps
* Link: http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
* Usage: color: palette(brand,tan);
*/
@function palette($palette, $tone: "base") {
  @return map-get(map-get($palettes, $palette), $tone);
}

// Color
$text-primary: #666;
$text-secondary: #b6a1b0;
$bg-primary: #49485a;
$bg-secondary: #f7f8f8;
$bg-ternary: palette(brand, medium-gray);

$link-primary: #d37f1294;
$link-secondary: #c85535;

$gradient: linear-gradient(left, #38d39f, #38a4d3);

/*----------------- COMMON ELEMENTS ------------------
- body text
- link
- button
*/

// main text paragraph
p {
  color: $text-secondary;
}

h1,
h2,
h3 {
  color: $text-primary;
}

a,
a:active {
  color: $link-secondary;
}

a:hover {
  color: darken($color: $link-primary, $amount: 20);
}

button {
  background-color: palette(brand, teal);
}

/*----------------- TYPOGRAPHY ------------------*/
// TYPOGRAPHY for common element
// - font?
// - size
// - color
// - spacing

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: 100;
  margin: 0.6rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}
