//==============================================================================
// This is where we set up all the base case configuration for the whole site
// - color schema
//==============================================================================

//==============================================================================
// Reset
//==============================================================================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//==============================================================================
// Structure/Layout
//==============================================================================

// Full container
.full-container {
  max-width: 100%;
  padding: 0 1rem;
}

// Container
.container {
  max-width: $container-xl;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-md {
  @extend .container;
  max-width: $container-md;
}

//==============================================================================
// Typography
//==============================================================================
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: 100;
  margin: 0.6rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}
