<div class="intro">
    <div class="wave"></div>
    <div class="container intro-container">
        <div class="about-me">
            <p>Hi, my name is</p>
            <h1 class="name">Rattanak Chea</h1>

            <p class="text-100">
                I am a software engineer based in Seattle, WA. I pride myself in writing clean and reusable code in
                building
                web applications.
            </p>
        </div>
        <div class="image">
            <img src="./img/undraw_progressive_app.svg" class="width-100" alt="">
        </div>

    </div>
</div>
</div>