$font1: "https://fonts.googleapis.com/css?family=Press+Start+2P";
$font2: "https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import "../../devin/devin";

* {
  box-sizing: border-box;
}

// animation
@keyframes bounceIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  background-color: #f7f8fc;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
}

// navigation

nav {
  padding: 1rem 2rem;
  min-height: 10vh;
  flex-wrap: wrap;

  ul {
    display: flex;
    list-style-type: none;

    .nav-item {
      padding: 0 1rem;
    }
  }
}

.content {
  height: 100%;
  padding: 1rem;

  .card {
    position: relative;
    width: 300px;
    height: 400px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    margin-right: 1.2rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    // overflow: hidden;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
      translateY(var(--translate-y, 0));
    transition: 150ms;
    transform-style: preserve-3d;

    &:hover {
      //   transform: rotateY(180deg); // rotate text
      //   --rotate-y: 180deg; //flip
      //   transition: transform 0.5s;

      --translate-y: -2px; //move up
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    }

    &.flip {
      --rotate-y: 180deg;
    }

    .front,
    .back {
      //   width: 100%;  // this cause problem
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      backface-visibility: hidden;

      //   transition: transform 1s;
      //   transform-style: preserve-3d;
    }

    .back {
      transform: rotateY(180deg);
      //   border: 1px solid red;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    // min-height: 250px;
  }

  .card-footer {
    padding: 1rem;
    background-color: #a5a8a8;
    text-align: center;
  }
}

.tag {
  background-color: #fff;
  border-radius: 25px;
  font-size: 12px;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background-color: #92d4e4;
}

.tag-orange {
  background-color: orange;
}
