//==============================================================================
// Structure/Layout
//==============================================================================
$container-xl: 1028px;
$container-md: 996px;
$padding: 1rem;

// Full container
.full-container {
  max-width: 100%;
  padding: 0 1rem;
}

// Container
.container {
  max-width: $container-xl;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-md {
  @extend .container;
  max-width: $container-md;
}
