@import "base/variables";

:root {
  // --main-bg-color: yellow;
  // --main-bg-color: $gradient; // scss variable cannot be used
  --main-bg-color: linear-gradient(left, #38d39f, #38a4d3);
}

/* ------- < Nav section > --------*/
nav {
  padding: 1rem 2rem;
  @include flex(space-between, center, row);
  min-height: 10vh;
  flex-wrap: wrap;
  background-color: $bg-secondary;
  color: $text-primary;

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-color: $link-primary;

    &:hover {
      cursor: pointer;
      background-color: $text-primary;
    }

    img {
      border-radius: 50%;
      height: 80%;
      width: 80%;
    }
  }

  ul {
    display: flex;
    list-style-type: none;

    .nav-item {
      padding: 0 1rem;
    }
  }
}

/* ------- </ Nav section > -------- */

/* ------- introduction section -------- */
.intro {
  position: relative;
  // background: $gradient;
  min-height: 30vh;
  display: flex;
  padding: 1rem;
}

.intro-container {
  display: flex;
  align-items: center;

  div {
    flex-basis: 100%;
  }

  .image {
    svg#computer-svg {
      path#computer {
        fill: $link-primary;
      }
    }
  }

  div.about-me {
    h1 {
      color: $link-primary;
    }
  }
}

.wave {
  position: absolute;
  height: 32px;
  width: 100%;
  background: $gradient;
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: $gradient;
  left: -1.5%;
  top: 40%;
}

/* ------- </ introduction section > -------- */

// Footer Section

footer {
  background: #49485a;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  @include flex(flex-start, center, row);
  ul {
    flex: 1 1 40rem;
    @include flex(space-around, center, row);
  }
  h4 {
    flex: 1 1 40rem;
  }
}
