@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

// color palette chrome-extension://pekhihjiehdafocefoimckjpbkegknoh/screenshot.html?id=100

// override some variables?

$font-family-base: "Roboto", sans-serif;

$white: #fcfcfc;
$black: #030303;
$color-default: #030303;
// $color-default-1: $gray-500;
// $color-default-2: $gray-300;

$color-primary: #f1c240;
$color-secondary: #3383cc;

@import "../../scss/devin-1.0";

// custom styles

nav {
  padding: 1rem 2rem;
  @include flex(space-between, center, row);
  min-height: 10vh;
  flex-wrap: wrap;

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;

    &:hover {
      cursor: pointer;
      background-color: $color-secondary;
    }

    img {
      border-radius: 50%;
      height: 80%;
      width: 80%;
    }
  }

  ul {
    display: flex;
    list-style-type: none;

    .nav-item {
      padding: 0 1rem;
    }
  }
}

/* ------------- /NAV SECTION -----------------------*/

/* ------------- INTRO SECTION -----------------------*/
.intro {
  position: relative;
  min-height: 30vh;
  display: flex;
  padding: 1rem;
  background-color: $gray-300;
}

.intro-container {
  display: flex;
  align-items: center;

  div {
    flex-basis: 100%;
  }

  .intro-social {
    margin: 1rem 0;
  }

  .image {
    svg#computer-svg {
      path#computer {
        // fill: $primary-color;
      }
    }
  }

  div.about-me {
    h1 {
    }
  }
}

// Work
.work {
  padding: 1rem 0 2rem;
}

// <Footer>

footer {
  min-height: 10vh;
  padding: 0% 5%;
  @include flex(flex-start, center, row);
  ul {
    flex: 1 1 40rem;
    @include flex(space-around, center, row);
  }
  h4 {
    flex: 1 1 40rem;
  }
}
