@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap");

// color palette chrome-extension://pekhihjiehdafocefoimckjpbkegknoh/screenshot.html?id=100

$font-family-body: "Barlow", sans-serif;
$font-family-heading: "Roboto", sans-serif;

// This will override everything
$COLOR: (
  // body-text: #702929,
    primary: #153cfb,
  secondary: #da7031,
  // black: $black,
    dark: #242a2d,
  // white: $white,
    gray: #d2dbec,
  // body-text: $gray-800,
    // body-bg: $white,
    // primary: $blue,
    // secondary: $green,
    // success: $green,
    // info: $cyan,
    // warning: $yellow,
    // error: $red,
    // gradient: $gradient,
);

@import "../../scss/devin";

// custom styles

nav {
  padding: 1rem 2rem;
  min-height: 10vh;
  flex-wrap: wrap;

  a.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    position: relative;
    background-color: $color-secondary;

    &:hover {
      cursor: pointer;
      background-color: $gray-400;
      transition: background 1000ms ease-in-out, color 2000ms ease-in-out;

      &:after {
        content: "Hey";
        color: $dark;
        font-family: cursive, Georgia, "Times New Roman", Times, serif;
        position: absolute;
        top: 0px;
        right: -30px;
      }
    }

    img {
      border-radius: 50%;
      height: 80%;
      width: 80%;
    }
  }

  ul {
    display: flex;
    list-style-type: none;

    .nav-item {
      padding: 0 1rem;
    }
  }
}

/* ------------- /NAV SECTION -----------------------*/

/* ------------- INTRO SECTION -----------------------*/
.intro {
  position: relative;
  min-height: 30vh;
  display: flex;
  padding: 1rem;
  background-color: $gray-300;
  // background-color: #fcf1e2;
}

.intro-container {
  display: flex;
  align-items: center;

  div {
    flex-basis: 100%;
  }

  .intro-social {
    margin: 1rem 0;
  }

  .image {
    svg#computer-svg {
      path#computer {
        // fill: $primary-color;
      }
    }
  }

  div.about-me {
    h1 {
    }
  }
}

// Work
.work {
  padding: 1rem 0 2rem;
}

// <Footer>

footer {
  min-height: 10vh;
  padding: 0% 5%;
  @include flex(flex-start, center, row);
  ul {
    flex: 1 1 40rem;
    @include flex(space-around, center, row);
  }
  h4 {
    flex: 1 1 40rem;
  }
}
