@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  color: #212529;
  background-color: #f8f9fa;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0.6rem 0; }

.text-primary {
  color: #0d6efd; }

.text-secondary {
  color: #0d6efd; }

.text-success {
  color: #28a745; }

.text-warning {
  color: #ffc107; }

.bg-white {
  background-color: #fff; }

.bg-grey {
  background-color: #adb5bd; }

.bg-dark {
  background-color: #16171815; }

.bg-primary {
  background-color: #0d6efd; }

.bg-secondary {
  background-color: #fd7e14; }

.full-container {
  max-width: 100%;
  padding: 0 1rem; }

.container, .container-md {
  max-width: 1028px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.container-md {
  max-width: 996px; }

nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  flex-wrap: wrap; }
  nav .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem; }
    nav .avatar:hover {
      cursor: pointer; }
    nav .avatar img {
      border-radius: 50%;
      height: 80%;
      width: 80%; }
  nav ul {
    display: flex;
    list-style-type: none; }
    nav ul .nav-item {
      padding: 0 1rem; }

/* ------------- /NAV SECTION -----------------------*/
/* ------------- INTRO SECTION -----------------------*/
.intro {
  position: relative;
  min-height: 30vh;
  display: flex;
  padding: 1rem; }

.intro-container {
  display: flex;
  align-items: center; }
  .intro-container div {
    flex-basis: 100%; }
  .intro-container .intro-social {
    margin: 1rem 0; }

.wave {
  position: absolute;
  height: 32px;
  width: 100%;
  bottom: 0; }

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%; }

.wave::before {
  width: 55%;
  height: 109%;
  right: -1.5%;
  top: 60%; }

.wave::after {
  width: 55%;
  height: 100%;
  left: -1.5%;
  top: 40%; }

.work {
  padding: 1rem 0 2rem; }

footer {
  min-height: 10vh;
  padding: 0% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }
  footer ul {
    flex: 1 1 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
  footer h4 {
    flex: 1 1 40rem; }
