@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap");
body {
  font-family: "Barlow", sans-serif;
  color: #343a40;
  background-color: #fff; }

.dark-theme, body.dark-theme {
  font-family: "Barlow", sans-serif;
  color: #f8f9fa;
  background-color: #212529; }

.text-black {
  color: black; }

.bg-black {
  background-color: black; }

.text-dark {
  color: #242a2d; }

.bg-dark {
  background-color: #242a2d; }

.text-white {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.text-gray {
  color: #d2dbec; }

.bg-gray {
  background-color: #d2dbec; }

.text-body-text {
  color: #343a40; }

.bg-body-text {
  background-color: #343a40; }

.text-body-bg {
  color: #fff; }

.bg-body-bg {
  background-color: #fff; }

.text-primary {
  color: #153cfb; }

.bg-primary {
  background-color: #153cfb; }

.text-secondary {
  color: #da7031; }

.bg-secondary {
  background-color: #da7031; }

.text-success {
  color: #28a745; }

.bg-success {
  background-color: #28a745; }

.text-info {
  color: #17a2b8; }

.bg-info {
  background-color: #17a2b8; }

.text-warning {
  color: #ffc107; }

.bg-warning {
  background-color: #ffc107; }

.text-error {
  color: #dc3545; }

.bg-error {
  background-color: #dc3545; }

.text-gradient {
  color: linear-gradient(left, #38d39f, #38a4d3); }

.bg-gradient {
  background-color: linear-gradient(left, #38d39f, #38a4d3); }

.full-container {
  max-width: 100%;
  padding: 0 1rem; }

.container, .container-md {
  max-width: 1028px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.container-md {
  max-width: 996px; }

.box-shadow {
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05); }

.flex {
  display: flex; }
  .flex.jc-sb {
    justify-content: space-between; }
  .flex.jc-c {
    justify-content: center; }
  .flex.ai-c {
    align-items: center; }
  .flex.center {
    justify-content: center;
    align-items: center; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px; }

html,
body {
  height: 100%;
  line-height: 2rem; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 1.5rem 0 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

a {
  color: #153cfb;
  display: inline-block;
  text-decoration: none; }

a:hover {
  color: #da7031;
  text-decoration: underline;
  cursor: pointer; }

nav {
  padding: 1rem 2rem;
  min-height: 10vh;
  flex-wrap: wrap; }
  nav a.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    position: relative;
    background-color: #da7031; }
    nav a.avatar:hover {
      cursor: pointer;
      background-color: #ced4da;
      transition: background 1000ms ease-in-out, color 2000ms ease-in-out; }
      nav a.avatar:hover:after {
        content: "Hey";
        color: #242222;
        font-family: cursive, Georgia, "Times New Roman", Times, serif;
        position: absolute;
        top: 0px;
        right: -30px; }
    nav a.avatar img {
      border-radius: 50%;
      height: 80%;
      width: 80%; }
  nav ul {
    display: flex;
    list-style-type: none; }
    nav ul .nav-item {
      padding: 0 1rem; }

/* ------------- /NAV SECTION -----------------------*/
/* ------------- INTRO SECTION -----------------------*/
.intro {
  position: relative;
  min-height: 30vh;
  display: flex;
  padding: 1rem;
  background-color: #dee2e6; }

.intro-container {
  display: flex;
  align-items: center; }
  .intro-container div {
    flex-basis: 100%; }
  .intro-container .intro-social {
    margin: 1rem 0; }

.work {
  padding: 1rem 0 2rem; }

footer {
  min-height: 10vh;
  padding: 0% 5%;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  footer ul {
    flex: 1 1 40rem;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  footer h4 {
    flex: 1 1 40rem; }
