// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid"; //only grid

@import "../../node_modules/bootstrap/scss/utilities/display"; //only display util
@import "../../node_modules/bootstrap/scss/utilities/flex"; //only flex util

// @import "../../node_modules/bootstrap/scss/utilities"; //all utilities
