// default css like mvp.css, on html elements
// no class

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

html,
body {
  font-family: $font-family-base;
  // font-weight: 100;
  color: $color-default;
  background-color: $white;
  // -webkit-text-size-adjust: 100%;
  // -webkit-tap-highlight-color: rgba($black, 0);
  height: 100%;
  line-height: 2rem;
}

// Typography

h1,
h2,
h3 {
  font-weight: 300;
  margin: 1.5rem 0 1rem;
}

// Links
a {
  color: $color-primary;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: $color-secondary;
  // filter: brightness($color-primary-dark);
  text-decoration: underline;
  cursor: pointer;
}
