//==============================================================================
// Mixin
//==============================================================================
@mixin flex($justify, $align, $direction) {
  flex-direction: $direction;
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
