// light theme (default), % is placeholder
%light-theme {
  font-family: $font-family-base;
  color: $color-body-text;
  background-color: $color-body-bg;
}

.dark-theme {
  font-family: $font-family-base;
  color: $gray-100;
  background-color: $gray-900;
}

body {
  @extend %light-theme;
}

body.dark-theme {
  @extend .dark-theme;
}
