// brand color
$brand: (
  text: $gray-900,
  background: $white,
  primary: $color-primary,
  secondary: $color-secondary,
) !default;

// light theme (default), % is placeholder
%light-theme {
  font-family: $font-family-base;
  color: map-get($brand, "text");
  background-color: map-get($brand, "background");
}

.dark-theme {
  font-family: $font-family-base;
  color: $white;
  background-color: $dark;
}

body {
  @extend %light-theme;
}

body.dark-theme {
  @extend .dark-theme;
}
