// functions
$tdbc-color-primary: #171392 !default;
$tdbc-color-secondary: #d92d7a !default;
$tdbc-color-background: #f9f9f9;

$tdbc-brand-colors: (
  primary: $tdbc-color-primary,
  secondary: $tdbc-color-secondary,
) !default;

$tdbc-color-body: scale-color(
  $tdbc-color-primary,
  $lightness: -30%,
  $saturation: -50%
) !default;
$tdbc-color-gray: mix(#767676, $tdbc-color-body, 70%) !default;

$tdbc-colors: map-merge(
  $tdbc-brand-colors,
  (
    text: $tdbc-color-body,
    background: $tdbc-color-background,
    light: #fff,
    dark: rgba(black, 0.87),
    gray: $tdbc-color-gray,
  )
);

@function tdbc-color($key) {
  @return map-get($tdbc-colors, $key);
}

// Add/remove to selectively generate `ink` (text color) classes
$tdbc-ink-colors: primary, secondary, text, gray, light, dark !default;

// Add/remove to selectively generate `background` (text color) classes
$bg-colors: primary, secondary, background, gray, light !default;

// light theme (default)

@each $key in $bg-colors {
  .bg-#{$key} {
    background-color: tdbc-color($key);
  }
}

// dark theme
