// --------- Color utility ---------------------

// text
.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-primary;
}

.text-success {
  color: $color-success;
}

.text-warning {
  color: $color-warning;
}

// background
.bg-white {
  background-color: $white;
}
.bg-grey {
  background-color: $gray-500;
}
.bg-dark {
  background-color: $dark;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-secondary {
  background-color: $color-secondary;
}

//==============================================================================
// Structure/Layout
//==============================================================================
$container-xl: 1028px;
$container-md: 996px;
$padding: 1rem;

// Full container
.full-container {
  max-width: 100%;
  padding: 0 1rem;
}

// Container
.container {
  max-width: $container-xl;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-md {
  @extend .container;
  max-width: $container-md;
}
