// generate text-primary, .text-secondary, ...
// bg-primary, bg-secondary, ...
@each $key, $color in $COLOR_MAP {
  .text-#{$key} {
    color: $color;
  }
  .bg-#{$key} {
    background-color: $color;
  }
}

//==============================================================================
// Structure/Layout
//==============================================================================
$container-xl: 1028px;
$container-md: 996px;
$padding: 1rem;

.box-shadow {
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05);
}

// ------ Flex utility class  --------------

.flex {
  display: flex;

  // main-axis center
  &.jc-sb {
    justify-content: space-between;
  }

  &.jc-c {
    justify-content: center;
  }

  // cross-axis center
  &.ai-c {
    align-items: center;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }
}
