// generate text-primary, .text-secondary, ...
// bg-primary, bg-secondary, ...
@each $key, $color in $colors-map {
  .text-#{$key} {
    color: $color;
  }
  .bg-#{$key} {
    background-color: $color;
  }
}

//==============================================================================
// Structure/Layout
//==============================================================================
$container-xl: 1028px;
$container-md: 996px;
$padding: 1rem;

// Full container
.full-container {
  max-width: 100%;
  padding: 0 1rem;
}

// Container
.container {
  max-width: $container-xl;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-md {
  @extend .container;
  max-width: $container-md;
}

.box-shadow {
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05);
}
