// Color system
// available colors to choose from
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
) !default;

// base color
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$dark: rgb(36, 34, 34) !default;
$black: black !default;

// gradient
$gradient: linear-gradient(left, #38d39f, #38a4d3);

// ---------------  COLOR MAP -------------
// can be overridden
$COLOR: () !default;

$COLOR_DEFAULT: (
  black: $black,
  dark: $dark,
  white: $white,
  gray: $gray-900,
  body-text: $gray-800,
  body-bg: $white,
  primary: $blue,
  secondary: $green,
  success: $green,
  info: $cyan,
  warning: $yellow,
  error: $red,
  gradient: $gradient,
) !default;

// use map merge to allow extension in user config
$COLOR_MAP: map-merge($COLOR_DEFAULT, $COLOR);

// ---------------  COLOR MAP ends -------------

// ---------------  Typography config -------------
$font-family-base: "Helvetica Neue", "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell,
  sans-serif !default;

// color variables
$color-success: map-get($COLOR_MAP, "success") !default;
$color-info: map-get($COLOR_MAP, "info") !default;
$color-warning: map-get($COLOR_MAP, "warning") !default;
$color-error: map-get($COLOR_MAP, "error") !default;

$color-body-text: map-get($COLOR_MAP, "body-text") !default;
$color-body-bg: map-get($COLOR_MAP, "body-bg") !default;

$color-primary: map-get($COLOR_MAP, "primary") !default; //link, button, primary
$color-primary-light: lighten($color-primary, 10%) !default;
$color-primary-dark: darken($color-primary, 10%) !default;

$color-secondary: map-get($COLOR_MAP, "secondary") !default;
$color-secondary-light: lighten($color-secondary, 10%) !default;
$color-secondary-dark: darken($color-secondary, 10%) !default;
